@import "tailwindcss";

.no-scroll {
    overflow: hidden;
}

/* Customize the scrollbar for all elements */
::-webkit-scrollbar {
    width: 0.4rem;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background: #ffedd5;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #f6741d;
    /* White thumb color */
    border-radius: 0.7rem;
    /* Rounded corners for the thumb */
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
    background-color: #e59661;
}

@media (width< 470px) {
    .toast-message {
        width: 300px !important;
        /* Adjust the width here */
        left: auto !important;
        right: 6px !important;
        top: 10px !important;
        border-radius: 10px !important;
        font-size: 0.9rem !important;

        .Toastify__toast {
            border-radius: 10px !important;
        }
    }
}